@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong><a href="https://docs.google.com/forms/d/1dAHVElrpDYaxSnUpX4JRdNaomqIR8DMxHcoIZop59b8/viewform?edit_requested=true">If you’re a University or educational organization interested in creating content on the Coursera platform, please contact us</a><br />
    <strong>Support:</strong><a href="https://docs.google.com/forms/d/1hmsDbVPJ0Qx2wsfC_anyVTDfrSx0Bh3lXEEUCuVJVjM/viewform?edit_requested=true">If you’re an enterprise level organization interested in using Coursera content to upskill your employees or workforce, please contact us </a>
    <strong>Support:</strong><a href="https://docs.google.com/forms/d/1hmsDbVPJ0Qx2wsfC_anyVTDfrSx0Bh3lXEEUCuVJVjM/viewform?edit_requested=true">If you’re a company, government, or non-profit entity interested in creating content on the Coursera platform, please contact us </a>
</address>